# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Snakemake
.snakemake/
snakemake.log
*.log

# Data & results
tax_db/*
*.tsv
*.faa
*.fasta
*.fa
*/trees/*

# Conda/mamba caches
.conda/
.mamba/

# BLAST databases
*.pin
*.phr
*.psq
*.pal
*.nin
*.nhr
*.nsq
taxdump.tar.gz
output/species_trees/all_species_tree.excluded.treefile
output/species_trees/all_species_tree.treefile
workflows/scripts/find_shared_tax.py
